.donor-img{  
    height: 180px;
    margin: 0 auto;
    object-fit: cover;
    
}

.btn-icon{
    margin-right: 6px;
}

.cart-details{
    background:hsl(50, 69%, 81%);
    transition: .3s;
}

.cart-details:hover{
    transform: translateY(-10px);
    transition: .3s;
}


.facebook-icon{
    font-size: 30px;
}
.instagram-icon{
    font-size: 30px;
}
.linkedin-icon{
    font-size: 30px;
}



